/* Universal property */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}
/* 




*/
/* Variable color */
:root {
  --red: #ff0000;
  --white: #ffffff;
}
/* 




*/

/* ........Header section....... */

.header-section {
  width: auto; /* set width to auto */
  height: 600px; /* height 600px is OK */
  margin: 48px 70px; /* margin is OK */

  position: relative;
}
.banner {
  color: var(--white);
  font-family: 'Merriweather', sans-serif;
  position: relative;
  top: 120px;
}
.banner-image {
  position: absolute; /* no need to set image height */
  top: 0;
}
.shadow {
  position: absolute;
  top: 0;

  height: 518px;
  border-radius: 20px;

  background-color: #0d01010b;
  background-image: linear-gradient(
    to bottom,
    #000000d0,
    rgba(255, 255, 255, 0)
  );
}

.banner-content {
  position: relative;
  z-index: 4;
}
.banner-content h4 {
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.banner h1 {
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* 






*/
/* ........Offer Section.......  */
.offer-section {
  width: auto; /* set width to auto */
  height: 807px; /* height 600px is OK */
  margin: 48px 200px; /* margin is OK */

  font-family: 'Inter', sans-serif;
}
.offer-section h1,
.offer-section h3,
.offer-section p {
  text-align: center;
}
.offer-section img {
  height: 500px;
}
.discount {
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  text-align: center;
  color: var(--red);
  margin-bottom: 48px;
}
.deal {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
  color: var(--red);
  margin-bottom: 16px;
}
.catagory {
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  margin-bottom: 48px;
}
/* 






*/
/* ......Mid Night Party Section...... */
.mid-night-party-main {
  width: auto; /* set width to auto */
  height: 600px; /* height 600px is OK */
  margin: 48px 70px; /* margin is OK */

  border-radius: 20px;
  /* background: #ff0000; */
  position: relative;
}
.mid-night-party {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: auto;
  border-radius: 20px;
}

.mid-night-party-linear-gradiant {
  height: 519px;

  border-radius: 20px;
  position: absolute;
  top: 0;

  background-color: #0d01010b;
  background-image: linear-gradient(
    to right,
    #000000d0,
    rgba(255, 255, 255, 0)
  );
}
.mid-night-party-div-image {
  width: auto;
  height: 600px;
  position: absolute;
  top: 0;
}

.midnight-party-description {
  margin-left: 126px;
  color: var(--white);
  position: relative;
  z-index: 2;

  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  margin-top: 50px;
}
.mid-night-party-image {
  width: auto;
  height: 420.662px;
  position: relative;
  z-index: 2;
}
.welcome-to,
.midnight-party {
  font-family: 'Merriweather', sans-serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 0.11em;
  text-align: left;
}
.midnight-invitation {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-top: 24px;
}
.join-now {
  margin-top: 24px;
  border: none;
  background-color: var(--red);
  width: 142px;
  margin-left: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  padding: 12px;
  border-radius: 30px;
  position: relative;
  left: 0;
}
.mid-night-party-image {
  margin: 68px 138px 67px 10px;
}
/* 







*/
/* join-now-section */

.purple-box {
  width: auto;
  height: 600px;
  margin: 48px;

  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #bd21c050;
  background-image: linear-gradient(
    to bottom,
    rgba(253, 117, 13, 0.46),
    rgba(255, 255, 255, 0.425)
  );
}
/* .purple-gradiant {
  width: auto;
  height: 600px;
  margin: 48px;
  position: absolute;
  top: 0;
} */
.red-text {
  color: var(--red);
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}
.place {
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  text-align: center;
}
.join-now-place {
  margin-top: 20px;
  border: none;
  background-color: var(--red);
  color: white;
  margin-left: 18px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  padding: 25px 40px;
  border-radius: 10px;
  width: 200px;
}

/* Coming soon section */
.coming-soon-section {
  width: auto;
  height: 600px;
  display: flex;
  justify-content: center;
  margin: 48px;
  align-items: center;
}
.coming-soon-text {
  padding: 25px;
}

.new-year {
  display: block;
  text-align: left;
  margin-right: 30px;
}

.title {
  color: var(--red);
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}
.coming-soon-text h2 {
  color: #070211;
  font-family: 'Merriweather', sans-serif;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.coming-soon-section .description {
  color: rgba(7, 2, 17, 0.6);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  width: 393px;
}

.coming-soon-text {
  display: flex;
  flex-direction: column;
}
.new-year {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}
.new-year h1 {
  color: var(--red);
  font-family: 'Inter', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;
}
.new-year p {
  color: rgba(7, 2, 17, 0.6);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 43px;
}
.new-year img {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
}

.red-circle {
  width: 450px;
  height: 450px;
  flex-shrink: 0;
  background: var(--red);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-circle {
  width: 430px;
  height: 430px;
  flex-shrink: 0;
  background: var(--white);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 





*/

/* holydaysale-section */
.holydaysale-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: -40px;
}
.holydaysale-section .title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}
.holydaysale-section .mark {
  color: #f00;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
  font-size: 72px;

  font-weight: 900;
  margin-bottom: 28px;
}
.holydaysale-section .des {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 0px 125px;
}

/* discount-img-section */

.one {
  display: flex;
  flex-direction: row;
}
.discount-img-section {
  margin: 70px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: 600px;
  position: relative;
}
.red-line {
  width: auto;
  position: absolute;
  height: 230px;
  top: 433px;
  z-index: -1;
}
.girl {
  width: auto;
  position: absolute;
  height: 430px;
  right: 0px;
}
.gift {
  width: auto;
  position: relative;
  top: 0px;
}
/* 








*/
/* portfolio section */
.portfolio-section {
  margin: 48px 0px;
  position: relative;
  top: 100px;
  padding: 0px 48px;
  width: auto;
}
.portfolio-content h4 {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
  color: var(--red);
  margin-bottom: 16px;
}
.portfolio-content h2 {
  font-family: 'Merriweather', sans-serif;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  text-align: left;
  margin-bottom: 22px;
}
.portfolio-content p {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: gray;
  width: 896px;
  margin-bottom: 48px;
}
.portfolio-image .first-row img {
  width: auto;
  height: 380px;
  border-radius: 16px;
  margin: 25px 25px 0px 0px;
}
.portfolio-image .second-row img {
  width: auto;
  height: 380px;
  border-radius: 16px;
  margin: 25px 25px 25px 0px;
}
/* 







*/
/* Newsletter section */
.newsletter-section {
  width: auto;
  height: 600px;
  border-radius: 16px;
  margin: 48px;
  margin-top: 200px;
}
.newsletter-section-div {
  background-color: rgb(241, 166, 166);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.letterbox {
  width: 150px;
  height: 150px;
  margin-top: 80px;
}
.subscribe {
  font-family: 'Merriweather', sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-align: center;
}
.subscribe-invitation {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 212px;
  margin-right: 212px;
  margin-top: 40px;
  width: 500px;
}
.mail-subscribe {
  display: flex;
  flex-direction: row;
  width: 648px;
  height: 72px;
  margin: 80px 336px;
}
.send-email {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  width: 438px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: left;
  padding: 30px;
  border: 0;
}
.subscribe-button {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  font-family: Inter;
  width: 210px;
  height: 72px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 0;
  background-color: var(--red);
  color: var(--white);
}
/* 







*/
/* footer section */
.foot {
  width: auto;
  height: 500px;
  background-color: #000000;
  color: var(--white);
  margin-top: 150px;
}
.contact-details {
  /* margin: 60px 70px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  padding-bottom: 60px;
}
.contact-details .adr {
  margin-top: 35px;
  line-height: 25px;
}
.contacts {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-top: 70px;
  margin-bottom: 30px;
  margin-left: 300px;
}
.contacts > div {
  display: flex;
}
.contacts > div > img {
  margin-right: 16px;
}

.contacts img {
  height: 24px;
  width: 24px;
}
.contact > p {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
}
.contact-details > p {
  height: 80px;
  /* margin-left: 140px;
  margin-top: 120px; */
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  line-height: 30px;
}
.social-icon {
  width: auto;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 48px 0px;
}
.social-icon > img {
  width: auto;
  height: 50px;
}

hr {
  width: 80%;
  color: rgba(255, 255, 255, 0.15);
  border: solid 1px;
  margin-left: 140px;
}
.ARR-unsubscribe {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.p1 {
  margin-left: 140px;
}
.p2 {
  margin-right: 40px;
  margin-left: 600px;
}
